@import 'base/variables'
@import 'base/mixins'
@import 'block/promo'
@import 'block/title'
@import 'block/buttons'

* 
	font-family: 'Poppins', sans-serif

.container
	width: 1140px
	margin: 0 auto


